name: ci
on: [push, pull_request]

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v2.3.4"
      - name: cache SBT
        uses: coursier/cache-action@v6
      - name: "Java 8 setup"
        uses: "olafurpg/setup-java@v13"
        with:
          java-version: "8"
      - run: 'sbt "; +scalafmtCheckAll; scalafmtSbtCheck" "; scalafixEnable; scalafix --check; test:scalafix --check"'
  mimaReport:
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v2.3.4"
      - name: cache SBT
        uses: coursier/cache-action@v6
      - name: "java ${{matrix.java}} setup"
        uses: "olafurpg/setup-java@v13"
        with:
          java-version: "${{matrix.java}}"
      - run: 'sbt "++${{matrix.scala}} mimaReportBinaryIssues"'
    strategy:
      matrix:
        java:
          - "8"
          - "11"
        scala:
          - "2.11.12"
          - "2.12.15"
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v2.3.4"
      - name: cache SBT
        uses: coursier/cache-action@v6
      - name: "java ${{matrix.java}} setup"
        uses: "olafurpg/setup-java@v13"
        with:
          java-version: "${{matrix.java}}"
      - run: 'sbt "++${{matrix.scala}} test"'
    strategy:
      matrix:
        java:
          - "8"
          - "11"
        scala:
          - "2.12.15"
          - "2.13.6"
  testWithCoverageReport:
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v2.3.4"
      - name: cache SBT
        uses: coursier/cache-action@v6
      - name: "java ${{matrix.java}} setup"
        uses: "olafurpg/setup-java@v13"
        with:
          java-version: "8"
      - run: sbt coverage clean test coverageReport
      - run: "bash <(curl -s https://codecov.io/bash)"
